/* CSS styles for table layout */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e2c2c;
  }
  
  .form-table {
    width: 100%; /* Set the desired width for the table */
    border-collapse: separate;
    border-spacing: 0;
    background-color: #777777; /* Set the background color for the table */
    color: #333; /* Set the text color */
    font-family: Arial, sans-serif; /* Set the desired font family */
    font-size: 14px; /* Set the desired font size */
    border-radius: 10px; /* Add border-radius property to make the edges round */
    overflow: hidden;
  }
  
  .form-table th,
  .form-table td {
    padding: 3px; /* Decreased the padding */
    text-align: left;
    border-bottom: 1px solid #837d7d;
  }
  
  .form-table th {
    background-color: #6b6868; /* Set the background color for table headers */
    font-weight: bold; /* Darker background color for table headers */
  }
  
  .form-table input[type="text"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-table input[type="text"]::placeholder {
    color: #0c0c0c; /* Set the desired grey color for the placeholder */
    opacity: 1; /* Ensure the placeholder is fully visible */
  }
  
  .form-table button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ebebeb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-table button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as per your preference */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the height as per your preference */
  }
  
  .result-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .result-table th,
  .result-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #7c7a7a;
  }
  
  .result-table th {
    background-color: #6a6a6a;
  }
  
  /* CSS styles for header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: #959292;
    font-family: 'Roboto', sans-serif; /* Use the desired font name */
    font-size: 18px;
  }
  
  .header-left {
    text-align: left;
  }
  
  .header-center {
    text-align: center;
  }
  
  .header-right {
    text-align: right;
  }
  